@font-face {
  font-family: "MTSSans-UltraWide";
  src: url(MTSSans-UltraWide.otf);
}
html {
  width: 100%;
}
.body {
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.wraper {
  top: 50%;
  left: 50%;
  background-image: url(elements/background.png);
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}
.eggToy img {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  width: 8%;
  height: auto;
}
.digitalEcosystem img {
  position: absolute;
  top: 50.5%;
  left: 19.5%;
  transform: translate(-50%, -50%);
  width: 30%;
  height: auto;
}
.FortunaSlider span {
  padding: 4px;
  font-size: 3.6vw;
  opacity: 0.3;
  font-family: "MTSSans-UltraWide";
  color: white;
}
.FortunaSlide span {
  z-index: 2000;
}
.FortunaSlider.slick-slider {
  width: 50%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 69.9%;
  transform: translate(-50%, -50%);
}
.FortunaSlide.slick-slide.slick-center span {
  opacity: 1;
}
